<template>
  <main id="buttonContainer">
    <button @click="onButtonClick(answers[0])" v-if="type == 'multiple'" id="btn1" class="answerButton" v-html="answers[0]"></button>
    <button @click="onButtonClick(answers[1])" v-if="type == 'multiple'" id="btn2" class="answerButton" v-html="answers[1]"></button>
    <button @click="onButtonClick(answers[2])" v-if="type == 'multiple'" id="btn3" class="answerButton" v-html="answers[2]"></button>
    <button @click="onButtonClick(answers[3])" v-if="type == 'multiple'" id="btn4" class="answerButton" v-html="answers[3]"></button>
    
    <button @click="onButtonClick('True')" v-if="type=='boolean'" id="btnTrue" :value="true" class="answerButton"> TRUE </button> <!-- Maybe use v-if on these buttons?-->
    <button @click="onButtonClick('False')" v-if="type == 'boolean'" id="btnFalse" :value="false" class="answerButton"> FALSE </button>
          </main>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  name: 'AnswerButton',
  props: ['answers'],
  computed: {
    ...mapState(['type', 'round'])
  },
  methods: {
   ...mapActions([ 'saveAnswers', 'nextRound']),
   onButtonClick(value) {
     this.saveAnswers(value)
     this.nextRound()
   }
  },
  data() {
    return {
      
    }
  }
}

</script>

<style scoped>
#buttonContainer {
  justify-content: center;
  display: grid;
  grid-gap: 2.2rem 2.6rem;
  grid-template-columns: repeat(1, 35% 35%);
  grid-template-rows: repeat(2, 7rem 7rem);
}

.answerButton {
  border-radius: 0.3rem;
  border: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.answerButton:hover {
  transform: scale(1.07);
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
}

#btn1 {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);

}
#btn2 {
  background-image: linear-gradient(
    95.2deg,
    rgba(173, 252, 234, 1) 26.8%,
    rgba(192, 229, 246, 1) 64%
  );

}
#btn3 {
  background-image: linear-gradient(to right, #f7f460, #f5aa48);


}
#btn4 {
  background-image: linear-gradient(to right, #ffd5d5, #d85b74);

}

#btnTrue {
  background-image: linear-gradient(to right, #fafafa 0%, rgb(221, 221, 221) 100%);

}

#btnFalse {
    background-image: linear-gradient(to right, #434343 0%, black 100%);

color: white;
}
</style>
