<template>
    <main>
        <h1 id="question" v-html="question" ></h1>
    </main>
</template>

<script>
export default {
    name: 'Question',
    props: ['question'],
    computed: {
    },
    methods: {
    },
    data() {
        return {
          
        }
    }
}
</script>

<style scoped>
main {
    padding: 0;
}

h1 {
    padding: 5rem;
    margin: 0;
}
</style>