<template>
  <main>
    <span>{{ round + 1 }} / {{ amount }}</span>
    <Question :question="this.questions.results[this.round].question" />
    <div v-if="finished == 'finished'">
      <button id="resultsButton" @click="onFinishedClick">Go to Results</button>
    </div>
    <AnswerButtons v-else :answers="this.answers" />
  </main>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";
import AnswerButtons from "./AnswerButtons.vue";
import Question from "./Question.vue";

export default {
  components: {
    AnswerButtons,
    Question,
  },
  name: "Trivia",
  computed: {
    ...mapState([
      "question",
      "answers",
      "round",
      "questions",
      "userAnswers",
      "finished",
      "amount",
    ]),
  },
  methods: {
    ...mapActions([]),
    ...mapMutations(["setAnswers"]),
    onFinishedClick() {
      this.$router.push("/results");
    },
  },
  created() {},
  data() {
    return {
      error: "",
    };
  },
};
</script>

<style scoped>
span {
  margin-left: 2rem;
  font-size: 3rem;
  font-weight: bold;
  color: rgb(238, 206, 148);
}

div {
  width: 100%;
  margin: 0;
  text-align: center;
}

#resultsButton {
  border-radius: 0.3rem;
  height: 6rem;
  width: 30rem;
  margin: auto;
  border: hidden;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  background-image: linear-gradient(
    55.2deg,
    rgb(135, 199, 165) 26.8%,
    rgb(238, 206, 148) 6%
  );
}

#resultsButton:hover {
  transform: scale(1.07);
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
  background-image: linear-gradient(
    55.2deg,
    rgb(238, 206, 148) 26%,
    rgb(135, 199, 165) 6.8%
  );
}
</style>
