<template>
  <main>
    <h1></h1>
    <div>
      <h3 v-html="question">}</h3>
      <h3 v-html="'Correct answer: ' + correct"></h3>
      <h3 v-html="'Your answer: ' + answer"></h3>
      <h2 id="points" v-if="correct == answer">10 Points!</h2>
      <h2 id="noPoints" v-else>Incorrect</h2>
    </div>
  </main>
</template>

<script>
export default {
  props: ["question", "correct", "answer"],
};
</script>

<style scoped>
div {
  background-image: linear-gradient(
    55.2deg,
    rgb(135, 199, 165) 26.8%,
    rgb(238, 206, 148) 6%
  );
  border-radius: 0.3rem;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  height: 13rem;
  padding: 1rem;
}

#points {
  color: green;
}

#noPoints {
  color: red;
}

div:hover {
  transform: scale(1.07);
}
</style>

