<template>
  <main>
    <h1>RESULTS</h1>
    <h1>YOUR SCORE: {{ score }} / {{amount*10}}</h1>
    <div id="buttons">
    <button id="playAgain" @click="onPlayAgainButtonClick" >Play Again</button>
    <button id="startScreen" @click="onStartScreenButtonClick">Start Screen</button>
    </div>
    <div id="resultScreen">
        <ResultCard 
        v-for="(question, index) in questionArray" :key="question.index"
        :question="questionArray[index]"
        :correct="correctAnswers[index]"
        :answer="userAnswers[index]"
        />
    </div>

  </main>
</template>

<script>
import { mapState, mapActions } from "vuex";
import ResultCard from './ResultCard.vue'

export default {
  name: "Results",
  components: {
      ResultCard
      },
  computed: {
    ...mapState(["amount", "userAnswers", "score", "questionArray", "correctAnswers"]),
  },
  methods: {
      ...mapActions([ 'playAgain', 'resetStates' ]),
      onPlayAgainButtonClick() {
          this.playAgain();
          this.$router.push('/trivia')
      },
      onStartScreenButtonClick() {
          this.resetStates()
          this.$router.push('/')
      },
  }
};
</script>

<style scoped>
#resultScreen {
  display: grid;
  grid-row-gap: 1rem;
  grid-column-gap: 2rem;
  grid-template-columns: repeat(1, 1fr 1fr 1fr);
  margin: 0 auto;
    width: 90%;
    
}

.resultsGrid {
  display: grid;
  grid-template-rows: repeat(3, 7rem);
  grid-row-gap: 1rem;
}

ul {
    list-style-type: none;
    margin: 0.2rem;
    padding: 0;
}

li {
    font-size: 1.8rem;
    text-decoration: none;
}

#buttons {
  width: 100%;
  text-align: center;
}
button {
  border-radius: 0.3rem;
  height: 3 rem;
  width: 14rem;
  margin: 1.5rem;
  border: hidden;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  background-image: linear-gradient(
    55.2deg,
    rgb(135, 199, 165) 26.8%,
    rgb(238, 206, 148) 6%
  );
}

button:hover {
    transform: scale(1.07);
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
  background-image: linear-gradient(
    55.2deg,
    rgb(238, 206, 148) 26%,
    rgb(135, 199, 165) 6.8%
  );
}


</style>


<!-- 

        <div class="resultsGrid">
            <h2>Questions</h2>
      <ul id="question" v-for="question of questionArray" :key="question.index">
        <li v-html="question"></li>
      </ul>
        </div >
    <div class="resultsGrid">
        <h2>Correct Answers</h2>
      <ul
        id="correct"
        v-for="correctAnswer of correctAnswers"
        :key="correctAnswer.index"
      >
        <li v-html="correctAnswer"></li>
      </ul>
    </div>
    <div class="resultsGrid">
        <h2>Your Answers</h2>
      <ul id="user" v-for="answer of userAnswers" :key="answer.index">
        <li v-html="answer"></li>
      </ul>
    </div>

-->