<template>
  <div class="startScreen">
    <h1>Awesome Trivia</h1>

    <form class="startScreen" @submit.prevent="playTrivia">
      <label>Number of questions: {{ selectedAmount }}</label>
      <div class="slidecontainer">
        <input
          type="range"
          min="1"
          max="20"
          class="slider"
          id="myRange"
          v-model="selectedAmount"
        />
      </div>

      <label>Category</label>
      <select id="selectCategory" v-model="selectedCategory">
        <option value="">Choose a category</option>
        <option
          v-for="category of categories"
          :value="category.id"
          :key="category.id"
        >
          {{ category.name }}
        </option>
      </select>

      <label>Type of trivia</label>
      <select id="selectType" v-model="selectedType">
        <option value="">Choose a type</option>
        <option v-for="type of types" :value="type.abbr" :key="type.abbr">
          {{ type.name }}
        </option>
      </select>

      <label>Difficulty</label>
      <select id="selectDifficutly" v-model="selectedDifficulty">
        <option value="">Choose a difficulty</option>
        <option
          v-for="difficulty of difficulties"
          :value="difficulty.abbr"
          :key="difficulty.abbr"
        >
          {{ difficulty.name }}
        </option>
      </select>

      <section id="errorSection" v-if="error">
        <p class="mb-0">{{ error }}</p>
      </section>

      <button type="submit">Play Awesome Trivia</button>
    </form>
  </div>
</template>

<script>
import { mapActions, mapMutations } from "vuex";
import { QuestionAPI } from "@/components/Questions/QuestionAPI";

export default {
  name: "Start",
  async created() {
    try {
      const fetchedCategories = await QuestionAPI.fetchQuestionCategories();
      this.categories = fetchedCategories.trivia_categories;
    } catch (e) {
      this.error = e.message;
    }
  },
  methods: {
    ...mapActions(["fetchQuestions"]),
    ...mapMutations(["setAmount", "setCategory", "setDifficulty", "setType"]),
    playTrivia() {
      this.error = "";

      if (!this.selectedAmount) {
        this.error = "You forgot to select an amount";
        return;
      }
      if (!this.selectedCategory) {
        this.error = "You forgot to select a category";
        return;
      }
      if (!this.selectedType) {
        this.error = "You forgot to select a type";
        return;
      }
      if (!this.selectedDifficulty) {
        this.error = "You forgot to select a difficutly";
        return;
      }

      this.setAmount(this.selectedAmount, this.selectedAmount);
      this.setCategory(this.selectedCategory, this.selectedCategory);
      this.setDifficulty(this.selectedDifficulty, this.selectedDifficulty);
      this.setType(this.selectedType, this.selectedType);

      this.fetchQuestions();
      this.$router.push('/trivia')

    },
  },
  data() {
    return {
      categories: [],
      difficulties: [
        {
          abbr: "easy",
          name: "Easy",
        },
        {
          abbr: "medium",
          name: "Medium",
        },
        {
          abbr: "hard",
          name: "Hard",
        },
      ],
      types: [
        {
          abbr: "multiple",
          name: "Multiple Choice",
        },
        {
          abbr: "boolean",
          name: "True or False",
        },
      ],
      selectedAmount: 10,
      selectedCategory: "",
      selectedType: "",
      selectedDifficulty: "",
      error: "",
    };
  },
};
</script>

<style scoped>
.startScreen {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 60%;
  margin: 0 auto;
  height: 40rem;
  border-radius: 0.33rem;
}

button {
  margin-top: 4rem;
  height: 4.5rem;
  border-radius: 8px;
  border: 1px solid rgb(230, 230, 230);
  width: 100%;
  padding: 0;
  font-size: 2rem;
  transition: 200ms ease-in-out;
}

button:hover {
  background-image: linear-gradient(to right, #ffd664, #7dcf64);
  transform: translate(1.05);
  color: white;
  font-weight: bold;
}

#errorSection {
  margin-top: 0.6rem;
  padding: 1rem;
  color: darkred;
  border: 1px solid darkred;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
</style>
