
body {
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(
    55.2deg,
    rgb(238, 206, 148) 26.8%,
    rgb(135, 199, 165) 6%
  );
    padding-top: 4rem;
    margin: auto;
    height: 150vh;
    width: 100%; 
    box-shadow: rgba(0, 0, 0, 0.25) 5px 50px 100px -20px, 
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
    rgba(0, 0, 0, 0.35) 0px -2px 26px 0px inset;
}

h1 {
    font-size: 2.4rem;
    text-align: center;
}

label {
    font-size: 1.9rem;
    padding-left: 1rem;
    margin: 1.7rem 0rem 0.7rem 0rem;
}

button {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
}

select, input {
    font-family: 'Open Sans', sans-serif;
    height: 2.5rem;
    border-radius: 8px;
    border: 1px solid rgb(230, 230, 230);
    width: 100%;
    padding: 0;
    font-size: 1.4rem;
}